@tailwind base;
@tailwind components;

#blog_content h2 {
  @apply text-2xl font-semibold py-4;
  /*
  font-size: 26px;
  font-weight: 600;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  */
}

#blog_content h3 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

#blog_content br {
  display: block;
  content: "";
  padding-top: 5px;
}

#blog_content a:link {
  color: #4C74B9;
}

#blog_content a:visited {
  color: #4C74B9;
}

#blog_content a:hover {
  color: #4C74B9;
}

#blog_content a:active {
  color: #4C74B9;
}


#blog_content ul, ol {
  padding-left: 30px;
  list-style: disc;
}

#blog_content strong {
  font-weight: 600;
}


/* blog table of content*/
#blog_toc ul {
  @apply bg-white rounded px-2 py-2;
}

#blog_toc li {
  @apply ml-4 my-1.5;
}

#blog_toc a:link {
  @apply text-gray-900;
}

#blog_toc a:visited {
  @apply text-gray-900;
}

#blog_toc a:hover {
  color: #4C74B9;
}

#blog_toc a:active {
  color: #4C74B9;
}

#blog_toc .toc_h3 {
  @apply pl-4
}


/* https://highlightjs.org/static/demo/styles/an-old-hope.css */

.hljs{
  display: block;
  overflow-x: auto;
  background:black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hljs-comment,.hljs-quote{color:#b6b18b}.hljs-deletion,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable{color:#eb3c54}.hljs-built_in,.hljs-builtin-name,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type{color:#e7ce56}.hljs-attribute{color:#ee7c2b}.hljs-addition,.hljs-bullet,.hljs-string,.hljs-symbol{color:#4fb4d7}.hljs-section,.hljs-title{color:#78bb65}.hljs-keyword,.hljs-selector-tag{color:#b45ea4}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}
